<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>750242004372-6ek850nlgoi214r613mq31loa6lrkhmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750242004372-6ek850nlgoi214r613mq31loa6lrkhmc</string>
	<key>API_KEY</key>
	<string>AIzaSyCWChRhNR6vEmyypGRuz7bqvxELeobZoFY</string>
	<key>GCM_SENDER_ID</key>
	<string>750242004372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>n.InicioSesionFB</string>
	<key>PROJECT_ID</key>
	<string>iniciosesionfb</string>
	<key>STORAGE_BUCKET</key>
	<string>iniciosesionfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750242004372:ios:4da9a3bb6ea67296</string>
	<key>DATABASE_URL</key>
	<string>https://iniciosesionfb.firebaseio.com</string>
</dict>
</plist>